<div class="container mx-auto px-4 py-8 flex flex-col items-center justify-center">
    <div class="flex justify-center mb-4">
      <h5 class="mb-5 text-2xl font-bold tracking-tight text-gray-900 dark:text-black">Recap</h5>
    </div>
    <div class="grid grid-cols-1 md:grid-cols-3 gap-4 w-full max-w-4xl">
      <div class="p-4 bg-white shadow rounded-lg text-center">
        <h3 class="text-lg font-semibold mb-2">Total Income</h3>
        <p class="text-2xl font-bold">{{ totalIncome | currency }}</p>
      </div>
      <div class="p-4 bg-white shadow rounded-lg text-center">
        <h3 class="text-lg font-semibold mb-2">Total Outcome</h3>
        <p class="text-2xl font-bold">{{ totalOutcome | currency }}</p>
      </div>
      <div class="p-4 bg-white shadow rounded-lg text-center">
        <h3 class="text-lg font-semibold mb-2">Number of Companies</h3>
        <p class="text-2xl font-bold">{{ numberOfCompanies }}</p>
      </div>
    </div>
  
    <div class="mt-8 grid grid-cols-1 md:grid-cols-2 gap-4 w-full max-w-4xl">
      <div>
        <h3 class="text-xl font-bold mb-4 text-center">Incomes</h3>
        <app-bar-chart [data]="incomes" label="Income" [type]="'income'"></app-bar-chart>
      </div>
      <div>
        <h3 class="text-xl font-bold mb-4 text-center">Outcomes</h3>
        <app-bar-chart [data]="outcomes" label="Outcome" [type]="'outcome'"></app-bar-chart>
      </div>
    </div>
  
    <div class="mt-8 w-full max-w-4xl">
      <h3 class="text-xl font-bold mb-4 text-center">Combined Income and Outcome</h3>
      <app-bar-chart [data]="combinedData" label="Combined Income and Outcome" [type]="'combined'"></app-bar-chart>
    </div>
  
    <div class="mt-8 w-full max-w-4xl">
      <h3 class="text-xl font-bold mb-4 text-center">Income vs Outcome Trend</h3>
      <h3 class="text-center mb-4">(Based on due date)</h3>
      <app-line-chart [incomeData]="incomes" [outcomeData]="outcomes" label="Income vs Outcome"></app-line-chart>
    </div>
    <app-income-form *ngIf="isIncomeModalOpen" [isEditMode]="isEditMode" [data]="income" (onCloseModel)="closeIncomeModal()"></app-income-form>
    <app-outcome-form *ngIf="isOutcomeModalOpen" [isEditMode]="isEditMode" [data]="outcome" (onCloseModel)="closeOutcomeModal()"></app-outcome-form>
  </div>